apiVersion: v1alpha1
kind: Setting
metadata:
  name: theme-terminal-setting
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $formkit: text
          name: index_notice_title
          label: 首页公告标题
          value: 'Hello Halo!'
        - $formkit: textarea
          name: index_notice_content
          label: 首页公告内容
          value: '一款 Terminal 风格的 Halo 主题。'
        - $formkit: checkbox
          name: pixel_style
          label: 像素化风格
          help: 开启后，将使用像素风格字体及图标。
    - group: beian
      label: 备案设置
      formSchema:
        - $formkit: text
          name: icp_text
          label: ICP备案号
        - $formkit: text
          name: icp_link
          label: ICP备案跳转链接
          value: https://beian.miit.gov.cn/
        - $formkit: text
          name: gongan_text
          label: 公安备案号
        - $formkit: text
          name: gongan_link
          label: 公安备案跳转链接
          value: https://www.beian.gov.cn/

