html[data-color-scheme='light'] {
    --black: #3e3e3e;
    --red: #970b16;
    --green: #07962a;
    --yellow: #f8eec7;
    --blue: #003e8a;
    --purple: #e94691;
    --cyan: #89d1ec;
    --white: #ffffff;
    --brightBlack: #666666;
    --brightRed: #de0000;
    --brightGreen: #87d5a2;
    --brightYellow: #f1d007;
    --brightBlue: #2e6cba;
    --brightPurple: #ffa29f;
    --brightCyan: #1cfafe;
    --brightWhite: #ffffff;
    --background: #f4f4f4;
    --foreground: #3e3e3e;
    --cursorColor: #3f3f3f;
    --selectionBackground: #a9c1e2;
}

html[data-color-scheme='dark'] {
    --black: #000000;
    --red: #f78166;
    --green: #56d364;
    --yellow: #e3b341;
    --blue: #6ca4f8;
    --purple: #db61a2;
    --cyan: #2b7489;
    --white: #ffffff;
    --brightBlack: #4d4d4d;
    --brightRed: #f78166;
    --brightGreen: #56d364;
    --brightYellow: #e3b341;
    --brightBlue: #6ca4f8;
    --brightPurple: #db61a2;
    --brightCyan: #2b7489;
    --brightWhite: #ffffff;
    --background: #101216;
    --foreground: #8b949e;
    --cursorColor: #c9d1d9;
    --selectionBackground: #3b5070;
}

[data-color-scheme='light'] .d-block-light,
[data-color-scheme='dark'] .d-block-dark {
    display: block !important;
}