<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(header = null, content = ~{::content}, footer = null)}"
>
  <th:block th:fragment="content">
    <div class="content">
      <div class="post">
        <h1
          class="post-title"
          th:text="'分类：'+${category.spec.displayName}+' ('+${category.status.visiblePostCount}+' 篇文章)'"
        >
          category: #{{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
        </h1>

        <a href="/categories"> 所有分类 </a>

        <ul>
          <li class="post-list" th:each="post : ${posts.items}">
            <a th:href="${post.status.permalink}">
              <span class="post-date" th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
                >{{ page.date }}</span
              >
              :: <span class="post-list-title" th:text="${post.spec.title}">{{ page.title }}</span></a>
              <span class="post-tags-inline">
                ::
                <span th:each="tag : ${post.tags}">
                  <a
                  th:href="${tag.status.permalink}"
                  th:title="${tag.spec.displayName}"
                  th:text="'#'+${tag.spec.displayName}"
                  class="post-tag"
                  >#Tag
                </a>
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </th:block>
</html>
