<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(header = null, content = ~{::content}, footer = null)}"
>
  <th:block th:fragment="content">
    <div class="content">
      <div class="post">
        <h1
          class="post-title"
          th:text="'分类：'+${category.spec.displayName}+' ('+${category.status.visiblePostCount}+' 篇文章)'"
        >
          分类：分类名 (n 篇文章)
        </h1>
        <a href="/categories"> 所有分类 </a>
        <ul>
          <li class="post-list" th:each="post : ${posts.items}">
            <a th:href="@{${post.status.permalink}}">
              <span class="post-date" th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
                >发布时间</span
              >
              :: <span class="post-list-title" th:text="${post.spec.title}">文章标题</span></a>
              <span class="post-tags-inline">
                ::
                <span th:each="tag : ${post.tags}">
                  <a
                  th:href="@{${tag.status.permalink}}"
                  th:title="${tag.spec.displayName}"
                  th:text="'#'+${tag.spec.displayName}"
                  class="post-tag"
                  >#Tag
                </a>
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="pagination" th:if="${posts.hasPrevious() || posts.hasNext()}">
        <div class="pagination__buttons">
          <span class="button previous" th:if="${posts.hasPrevious()}">
            <a th:href="@{${posts.prevUrl}}">
              <span class="button__icon"><</span>
              <span class="button__text">上一页</span>
            </a>
          </span>
          <span class="button next" th:if="${posts.hasNext()}">
            <a th:href="@{${posts.nextUrl}}">
              <span class="button__text">下一页</span>
              <span class="button__icon">></span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </th:block>
</html>
